#player-stat-box {
    background-color: blue;
    height: 500px;
    width: 100%;
    color: white;
    margin-right: 2%;
    margin-left: 1%;
}

#player-consumable-box {
    background-color: green;
    height: 200px;
}

.player-stat-fix {
    margin-top: -9rem;
}
