.battle-wrapper {
    height: 790px;
    z-index: 10;
}

.image0 {
    background-image: url("../../styles/arenas/0.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image1 {
    background-image: url("../../styles/arenas/1.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image2 {
    background-image: url("../../styles/arenas/2.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image3 {
    background-image: url("../../styles/arenas/3.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image4 {
    background-image: url("../../styles/arenas/4.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image5 {
    background-image: url("../../styles/arenas/5.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image6 {
    background-image: url("../../styles/arenas/6.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image7 {
    background-image: url("../../styles/arenas/7.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image8 {
    background-image: url("../../styles/arenas/8.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.image9 {
    background-image: url("../../styles/arenas/9.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
}

.jumbotron {
    padding: 1rem;
}

#combat-wrap {
    background-image: url("https://www.robbiegraham.uk/upload/2019/04/18/dark-stone-images-reverse-search-dark-stone-wall-s-79492e0646b1015c.jpg");
    background-repeat: repeat;
    border-style: solid;
    border-width: 5px;
    animation: flash 5s infinite;
}

#combat-stats {
    background: black;
    height: 300px;
}

.combat-log {
    height: 300px;
    background-color: black;
    border-radius: 18px;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: maroon;
}

.enemy-cards {
    height: 300px;
}

.player-cards {
    height: 400px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-width: 5px;
    margin-top: 10px;
    border-radius: 50px;
    animation: flash 6s infinite;
}

.card {
    color: black;
}

.player-equipped {
    width: 20%;
    float: left;
    margin-top: 1%;
}

.player-character {
    margin-top: 5rem;
}

.progress {
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.progress-bar {
    background-color: green;
}

.equipped-combat {
    height: 200px;
    width: 160px;
    outline:none;
    box-shadow: none;
}

.container {
    max-width: 1300px;
}

#player-ec-lost {
    height: 300px;
    color: white;
}

#player-ec-win {
    height: 200px;
    color: white;
}

#ec-button {
    margin-left: 0;
}

#ec-wrapper {
    background-image: url("https://www.stockvault.net/data/2013/10/20/149512/preview16.jpg");
    background-repeat: repeat;
    border-radius: 18px;
    padding: 1rem;
}

.my-attack-log {
    margin-top: 17%;
    color: green;
}

.enemy-attack-log {
    color: red;
}

#ec {
    color: white;
}

#enemy-health {
    background-color: red;
}

#enemy-hp {
    width: 60%;
    height: 30px;
    margin-left: 3%;
}

.welcome-text {
    margin-top: 25%;
}

/* Animations  */

.combat-intro {
    color: white;
    height: 96%;
    position: absolute;
    background: black;
    left: 1rem;
    width: 98%;
    top: 1rem;
    border-radius: 18px;
    border-width: 5px;
    border-style: solid;
    border-color: maroon;
    animation: intro 3s linear;
    -webkit-animation: intro 3s normal forwards; 
    -moz-animation:  intro 3s normal forwards;
    -o-animation:     intro 3s normal forwards;
}

#fade-text{
    animation: fade-out 3s linear;
}

.equipped-combat:enabled {
    animation: begin .5s linear;
}

.equipped-combat:active {
    animation: attack .5s linear;
}

#active-enemy img {
    animation: enemyCard .5s linear;
}

#inactive-enemy img {
    animation: enemyCard2 .5s linear;
}

:disabled {
    padding: 2rem;
    animation: death 6s infinite;
}

button:disabled{
    animation: none;
}

@keyframes death {
    0%{
        opacity: .6;
        transform: rotateX(0);
    }
    50%{
        opacity: 0;
        transform: rotateX(180deg);
    }
    100%{
        opacity: .6;
        transform: rotateX(0);
    }
}

@keyframes flash {
    0% {
        border-color: black;
    }
    50% {
        border-color: maroon;
    }
    100%{
        border-color: black;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
        color: white;
    }
    50%{
        opacity: .5;
        color: white;
    }
    100%{
        opacity: 0;
        color: white;
    }
}

@keyframes begin {
    0%{
        opacity: 0;
        transform: translate(50%, -50%);
    }
    90% {
        opacity: .9;
        transform: translate(0%, 5%);
    }
    100%{
        opacity: 1;
    }
}

@keyframes attack {
    0%{
        background: red;
    }
    100%{
        transform: translate(90%, -60%)
    }
}

@keyframes arena {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}

@keyframes enemyCard {
    0%{
        transform: translate(10%, -8%);
    }
    50%{
        opacity: .6;
        padding: 1rem;
    }
    100% {
        background: maroon
    }
}

@keyframes enemyCard2 {
    0%{
        transform: translate(10%, -2%)
    }
    50%{
        opacity: .6;
        padding: 1rem;
    }
    100% {
        background: maroon;
    }
}

@keyframes intro {
    0%{
        opacity: 1;
        z-index: 5;
    }
    70%{
        color: white;
    }
    90% {
        opacity: 1;
        z-index: 5;
        color: maroon;
    }
    100%{
        opacity: 0;
        z-index: -1;
        color: maroon;
    }
}
